input.answ{padding=left: 1.8em}

#check{
  margin:1% auto ;



}
#photo {margin-left :1%; margin-right: 1%; margin-bottom:3%;}

img#img{margin:auto;}

#testans{margin-bottom:5%;
margin-left:1%;
text-align: center;}
#top{margin-top:2%;
  margin-left : 1%;
  margin-right: 1%;
  margin-bottom:5%

}
